.main-menu {
    margin-top: 2em;
}

.menu-item-event {
    display: inline;
    margin: 0.5em;
}

.menu-item-prog {
    display: inline;
    margin: 0.5em;
}

.menu-item-fav {
    display: inline;
    margin: 0.5em;
}

a, a:hover {
    color: white;
}
