.event-wrapper {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 7px;
  margin-right: 10px;
}

@media (min-width: 1000px) { 
  .event-wrapper {
    margin: 15px;
  }
}

.event-inner-wrapper {
  border: 1px solid white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.event {
  color: white;
  padding: 0 5px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.event:hover {
  cursor: pointer;
}

.event-clock {
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}

.event-title {
  word-break: break-all;
  margin-right: 5px;
  line-height: 50px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-angle {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.clock {
  margin-right: 2px;
}
